{% extends "main_template.html" %}

{% block main %}
<h1 class="my-4">보유주식 현황</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="my-4">국내/해외 주식 비중</h2>
            <!-- 구글 차트가 들어갈 자리 -->
            <div id="piechart" style="width: 100%; height: 500px;"></div>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-md-8">
            <h2 class="my-4">국내주식 TOP 5</h2>
            <!-- 국내 주식 테이블이 들어갈 자리 -->
            <div id="domestic_stock_table" style="width: 100%;"></div>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-md-8">
            <h2 class="my-4">해외주식 TOP 5</h2>
            <!-- 해외 주식 테이블이 들어갈 자리 -->
            <div id="international_stock_table" style="width: 100%;"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var dict_count = JSON.parse('{{dict_amount | tojson | safe }}');
    var data = google.visualization.arrayToDataTable([
      ['시장(국가)', '비중'],
      ['국내', dict_count['국내']],
      ['해외', dict_count['해외']],
    ]);

    var options = {
      title: '국내/해외 주식 비중'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>
{% endblock %}
